aiodns==3.0.0
aiohttp==3.8.3
aiohttp-socks==0.7.1
aiosignal==1.2.0
async-timeout==4.0.2
attrs==22.1.0
beautifulsoup4==4.11.1
cchardet==2.1.7
certifi==2022.9.24
cffi==1.15.1
charset-normalizer==2.1.1
click==8.1.3
colorama==0.4.5
contourpy==1.0.5
cycler==0.11.0
elastic-transport==8.4.0
elasticsearch==8.4.3
fake-useragent==0.1.11
Flask==2.2.2
fonttools==4.38.0
frozenlist==1.3.1
geographiclib==1.52
geopy==2.2.0
googletransx==2.4.2
idna==3.4
itsdangerous==2.1.2
Jinja2==3.1.2
joblib==1.2.0
kiwisolver==1.4.4
MarkupSafe==2.1.1
matplotlib==3.6.1
multidict==6.0.2
nest-asyncio==1.5.6
numpy==1.23.4
packaging==21.3
pandas==1.5.1
Pillow==9.2.0
pycares==4.2.2
pycparser==2.21
pyparsing==3.0.9
PySocks==1.7.1
python-dateutil==2.8.2
python-socks==2.0.3
pytz==2022.5
requests==2.28.1
schedule==1.1.0
scikit-learn==1.1.2
scipy==1.9.3
six==1.16.0
sklearn==0.0
soupsieve==2.3.2.post1
threadpoolctl==3.1.0
twint==2.1.20
urllib3==1.26.12
Werkzeug==2.2.2
wordcloud==1.8.2.2
yarl==1.8.1
